<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.renote.backend.mapper.NotifyMessageLogMapper">

    <insert id="insert" parameterType="com.renote.backend.entity.NotifyMessageLog">
        INSERT INTO notify_message_log
        (schedule_id, task_id, user_id, channel, request_id, message_title, message_body, send_status, error_code, error_message, sent_at, created_at)
        VALUES
        (#{scheduleId}, #{taskId}, #{userId}, #{channel}, #{requestId}, #{messageTitle}, #{messageBody}, #{sendStatus},
         #{errorCode}, #{errorMessage}, #{sentAt}, NOW(3))
    </insert>

</mapper>
