<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.renote.backend.mapper.ReviewTaskMapper">

    <insert id="insert" parameterType="com.renote.backend.entity.ReviewTask" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO review_task
        (user_id, title, source_type, note_url, note_content, timezone, schedule_mode, reminder_strategy, status, created_at, updated_at)
        VALUES
        (#{userId}, #{title}, #{sourceType}, #{noteUrl}, #{noteContent}, #{timezone}, #{scheduleMode}, #{reminderStrategy}, #{status}, NOW(3), NOW(3))
    </insert>

    <select id="findById" resultType="com.renote.backend.entity.ReviewTask">
        SELECT id,
               user_id           AS userId,
               title,
               source_type       AS sourceType,
               note_url          AS noteUrl,
               note_content      AS noteContent,
               timezone,
               schedule_mode     AS scheduleMode,
               reminder_strategy AS reminderStrategy,
               status,
               last_reviewed_at  AS lastReviewedAt,
               next_remind_at    AS nextRemindAt,
               created_at        AS createdAt,
               updated_at        AS updatedAt
        FROM review_task
        WHERE id = #{id}
    </select>

    <select id="findByIdAndUserId" resultType="com.renote.backend.entity.ReviewTask">
        SELECT id,
               user_id           AS userId,
               title,
               source_type       AS sourceType,
               note_url          AS noteUrl,
               note_content      AS noteContent,
               timezone,
               schedule_mode     AS scheduleMode,
               reminder_strategy AS reminderStrategy,
               status,
               last_reviewed_at  AS lastReviewedAt,
               next_remind_at    AS nextRemindAt,
               created_at        AS createdAt,
               updated_at        AS updatedAt
        FROM review_task
        WHERE id = #{id} AND user_id = #{userId}
    </select>

    <update id="updateLastReviewedAt">
        UPDATE review_task
        SET last_reviewed_at = #{lastReviewedAt},
            updated_at = NOW(3)
        WHERE id = #{taskId}
    </update>

    <update id="updateNextRemindAt">
        UPDATE review_task
        SET next_remind_at = #{nextRemindAt},
            updated_at = NOW(3)
        WHERE id = #{taskId}
    </update>

    <update id="updateNoteUrlByIdAndUserId">
        UPDATE review_task
        SET note_url = #{noteUrl},
            updated_at = NOW(3)
        WHERE id = #{taskId}
          AND user_id = #{userId}
    </update>

    <update id="updateNoteContentByIdAndUserId">
        UPDATE review_task
        SET note_content = #{noteContent},
            updated_at = NOW(3)
        WHERE id = #{taskId}
          AND user_id = #{userId}
    </update>

</mapper>
